@keyframes shipanimation{
	0%{ left: 0px; }
	100%{ left:1200px;}

}
@keyframes moonanimation{
	from{top: 0PX;}
	to{top: 200px;}
}
@keyframes birdsanimation{
	0%{left: 0px;}
	25%{top: 150px;}
	40%{top: 200px;}
	60%{top: 250px;}
	80%{top: 150px;}
	90%{top: 50px;}
	100%{left: 1000px;}

}
@keyframes birdsanimation1{
	0%{left: 0px;}
	100%{left: 1000px;}
}
@keyframes birdsanimation2{
	0%{right: 0px;}
	50%{top: 100px;}
	100%{right: 1000px;}
}
@keyframes segullanimation{
	0%{left: 0px;}
	25%{top: 150px;}
	35%{top: 50px;}
	50%{top: 100px;}
	100%{ left: 1150px; }
}
@keyframes boatanimation{
	0%{right: 300px;}
	100%{right: 1150px;}
}
@keyframes parachuteanimation{
	0%{top: 50px;}
	100%{top: 250px;}
}